<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('authentication.static', filename="css/authbase.css") }}">
    <script src = "{{ url_for('authentication.static', filename="scripts/authbase.js") }}" defer></script>
    {% block title %}
    {% endblock %}
</head>
<body>
<img class='logo' src="{{ url_for('authentication.static', filename='images/logos/justus-logo-tbc.png') }}">
{% block content %}
{% endblock %}
</body>
</html>