body header {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: min(1rem, 1%);
  padding: 0.3rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .logo {
  max-width: min(100%, 7rem);
  aspect-ratio: 1/0.5;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
body header h1 {
  text-align: center;
}
body header a {
  text-decoration: none;
  color: black;
  backdrop-filter: drop-shadow(0px 0px 10px black);
  cursor: pointer;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 89dvh;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 1200px) {
  body main {
    flex-direction: row;
  }
}
body main > div {
  max-width: 600px;
  width: 100%;
  min-width: 360px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  padding: 1rem;
}
body main .profile-con {
  padding: 1rem;
  position: relative;
}
body main .profile-con #update-profile-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
body main .profile-con .update_profile {
  position: fixed;
  background-color: #00264d;
  height: 100dvh;
  top: 0;
  left: 0;
  width: 360px;
  z-index: 10000;
  color: white;
  display: none;
}
body main .profile-con .update_profile .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
}
body main .profile-con .update_profile form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20%;
  box-shadow: 0 0 10px #d18b8d;
  width: 80%;
  padding: 2rem;
  margin: 2rem auto;
}
body main .profile-con .update_profile form input {
  padding: 0.3rem 0.6rem;
  border: none;
  outline: none;
  background-color: #d18b8d;
  color: white;
  border-radius: 10px;
  margin: 0.5rem 0;
}
body main .profile-con .update_profile form input[type=text] {
  padding: 0.3rem 0.6rem;
  border: none;
  outline: none;
  background-color: #d18b8d;
  color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
}
body main .profile-con .update_profile form input[type=submit] {
  padding: 0.3rem 0.6rem;
  border: none;
  outline: none;
  background-color: #d18b8d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color, color, 100ms ease-in-out;
}
body main .profile-con .update_profile form input[type=submit]:hover {
  background-color: #fff;
  color: #d18b8d;
}
body main .profile-con .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .profile-con .profile img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
body main .profile-con .profile b {
  font-size: 1.1rem;
  font-style: italic;
  color: #00264d;
}
body main .friend-lists-request, body main .all-users {
  padding: 1rem;
}
body main .friend-lists-request .users-con .users, body main .all-users .users-con .users {
  color: black;
  position: relative;
  padding: 0.2rem 0.6rem 0;
  align-items: center;
  border-radius: 50px;
  width: 100%;
  transition: background-color, color, 100ms ease-in-out;
  cursor: pointer;
}
body main .friend-lists-request .users-con .users:hover, body main .all-users .users-con .users:hover {
  background-color: rgba(0, 38, 77, 0.8);
  color: white;
}
body main .friend-lists-request .users-con .users > div, body main .all-users .users-con .users > div {
  position: relative;
  margin-inline: 1rem;
  display: inline-block;
  transform: translateY(-20%);
  top: 50%;
  width: 65%;
}
body main .friend-lists-request .users-con .users > div p, body main .all-users .users-con .users > div p {
  font-size: 0.8rem;
  font-style: italic;
}
body main .friend-lists-request .users-con .users > div h4, body main .all-users .users-con .users > div h4 {
  font-style: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}
body main .friend-lists-request .users-con .users img, body main .all-users .users-con .users img {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: white;
  display: inline-block;
}
body main .friend-lists-request .users-con .users button, body main .all-users .users-con .users button {
  position: relative;
  float: right;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  margin-inline: 2px;
  transform: translateY(10%);
  cursor: pointer;
}
body main .friend-lists-request .users-con .users button.add-friend, body main .all-users .users-con .users button.add-friend {
  color: green;
  border: 1px solid green;
  padding: 0.4rem 0.4rem;
  transition: background-color, color, 100ms ease-in-out;
}
body main .friend-lists-request .users-con .users button.add-friend:hover, body main .all-users .users-con .users button.add-friend:hover {
  color: #fff;
  border-color: #fff;
  background-color: green;
}
body main .friend-lists-request .users-con .users button.accept, body main .all-users .users-con .users button.accept {
  color: green;
  border: 1px solid green;
}
body main .friend-lists-request .users-con .users button.accept:hover, body main .all-users .users-con .users button.accept:hover {
  color: #fff;
  border-color: #fff;
  background-color: green;
}
body main .friend-lists-request .users-con .users button.reject, body main .all-users .users-con .users button.reject {
  color: red;
  border: 1px solid red;
  pointer-events: visiblePainted;
}
body main .friend-lists-request .users-con .users button.reject:hover, body main .all-users .users-con .users button.reject:hover {
  color: #fff;
  border-color: #fff;
  background-color: red;
}

/*# sourceMappingURL=home.css.map */
