<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/chats.css') }}">
    <title>JustUs Chat</title>
</head>
<body>
<header><img class="logo" src="{{ url_for('static', filename='logos/justus-logo-bnb.png') }}" alt="Logo">
    <h1>Chats</h1></header>
<main>
    <div class="chats-con">
        <div class="chats-menu">
            chats menu
        </div>
        <div class="recent-chats">
            recent chats
        </div>
    </div>
    <div class="messages-con">
        <div class="friend-profile-info-menu">
            <div class="profile-info">
                <div class="profile-image-con">
                    <img src="{{ url_for('static',filename='logos/justus-logo-tbc.png') }}" alt="profile-image">
                </div>
                <p>User Name</p>
            </div>
            <div class="rtc-menu">
                <button><i class="fa fa-phone"></i></button>
                <button><i class="fa fa-video"></i></button>
            </div>
        </div>
        <div class="messages">
            <div class="message me">
                dummy message
            </div>
            <div class="message friend-message">
                dummy message
            </div>
            <div class="message friend-message">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti dolores et fugiat in itaque
                porro quod reiciendis vitae voluptatem
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam maiores nam tempora. Ab commodi
                consequuntur corporis cupiditate dicta dignissimos distinctio dolor exercitationem illo incidunt ipsa
                iste maxime mollitia numquam quas quod repellendus reprehenderit tenetur, totam vitae. Amet asperiores
                autem eligendi, excepturi reiciendis reprehenderit suscipit vero voluptate voluptatum! Assumenda cumque
                eligendi expedita hic nemo odio possimus quas vitae? Ab accusamus alias consequuntur corporis deleniti
                dolor explicabo fuga impedit ipsa iure iusto laudantium minima modi necessitatibus neque nisi nobis,
                odit quae saepe sint suscipit vero voluptatibus! Atque dolorum est repudiandae voluptas.
            </div>
            <div class="message me">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque debitis distinctio doloremque
                eligendi ex hic illo inventore laudantium magni non omnis pariatur possimus quibusdam quisquam quod
                reiciendis similique soluta velit, voluptatem! Ad labore molestias reiciendis! Cum dolorum natus
                quibusdam quisquam tenetur. Eius natus, numquam odit quaerat sed sit voluptas voluptatibus? Adipisci
                assumenda atque beatae cupiditate dignissimos distinctio dolorem, dolorum exercitationem illum impedit
                laborum magni molestias obcaecati placeat porro quae quaerat qui repellendus voluptate voluptatibus.
                Eaque eligendi eos ex facilis repellendus sapiente. Accusamus consectetur dolorem esse et ex hic iste
                odit perspiciatis ratione repellat repellendus rerum, sit vero voluptatem voluptatibus.
            </div>
        </div>
        <div class="message-input-con">
            <input type="text" id="message-input">
            <input type="button" value="send" id="send">
        </div>
    </div>
</main>
</body>
</html>