<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/chats.css') }}">
    <title>JustUs Chat</title>
</head>
<body>
<header><img class="logo" src="{{ url_for('static', filename='logos/justus-logo-bnb.png') }}" alt="Logo">
    <h1>Chats</h1></header>
<main>
    <div class="chats-con">
        <div class="chats-menu">
            chats menu
        </div>
        <div class="recent-chats">
            recent chats
        </div>
    </div>
    <div class="messages-con">
        <div class="friend-profile-info-menu">
            <div class="profile-info">
                <div class="profile-image-con">
                    <img src="{{ url_for('static',filename='logos/justus-logo-tbc.png') }}" alt="profile-image">
                </div>
                <p>User Name</p>
            </div>
            <div class="rtc-menu">
                <button><i class="fa fa-phone"></i></button>
                <button><i class="fa fa-video"></i></button>
            </div>
        </div>
        <div class="messages">
            <div class="message me">
                dummy message
            </div>
            <div class="message friend-message">
                dummy message
            </div>
        </div>
        <div class="message-input-con">
            <input type="text" id="message-input">
            <input type="button" value="send" id="send">
        </div>
    </div>
</main>
</body>
</html>