body {

  header {
    background-color: rgba(white, .8);
    margin-top: min(1rem, 1%);
    padding-block: .3rem;

    .logo {
      max-width: min(100%, 7rem);
      aspect-ratio: 1/.5;
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
    }

    h1 {
      text-align: center;
    }

  }
}

main {
  display: flex;
  gap: max(2%, 1rem);
  height: 80dvh;
  width: 100%;
  margin-top: 10px;

  .chats-con {
    background-color: rgba(white, .6);
    height: 100%;
    width: max(360px, 50%);
    //// todo
    //display: none;

    .chats-menu {
      background-color: #00264d;
      color: white;
      padding: .5rem;
      height: 3rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .recent-chats {
      padding: .5rem;

    }

  }

  .messages-con {
    background-color: rgba(white, .6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px){
      height: 90vh;
    }

    .friend-profile-info-menu {
      background-color: #00264d;
      color: white;
      padding-inline: .5rem;
      height: 3rem;
      display: flex;
      padding-left: 1rem;
      justify-content: space-between;

      .profile-info {
        display: flex;
        align-items: center;

        .profile-image-con {
          width: 50px;

          img {
            object-fit: contain;
          }
        }
      }

      .rtc-menu {
        display: flex;
        gap: 1rem;
        align-items: center;

        button {
          font-size: 1.5rem;
          background-color: transparent;
          color: white;
          border: none;
          cursor: pointer;
        }
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      gap: .6em;
      height: 85%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      padding: .3rem .3rem 1rem;


      .message {
        max-width: 80%;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: .8rem;
      }

      .me {
        align-self: flex-end;
        background-color: darken(#d18b8d, 10);
      }

      .friend-message {
        align-self: start;
        background-color: #00264d;

      }

    }

    .message-input-con {
      max-width: 100%;
      margin-inline: .5rem;
      border-radius: 50px;
      background-color: white;
      height: 3rem;
      display: flex;
      padding: .3rem;
      padding-inline: .9rem;
      gap: 1rem;
      box-shadow: 0 0 10px rgba(black, .4);
      margin-bottom: 1rem;


      #message-input {
        width: 100%;
        border: none;
        outline: none;

      }

      #send {
        width: 90px;

        background-color: #00264d;
        border-radius: 50px;
        color: white;
        outline: none;
        border: transparent;
        margin-block: .2rem;
        box-shadow: 0 0 10px rgba(black, .4);

      }

    }

  }
}


// todo

.new-convo-modal {

  display: flex;
  flex-direction: column;
  position: fixed;
  height: 80vh;
  background-color: rgba(#00264d, .8);
  top:0;
  width: 340px;
  padding: 2rem;
  .close-btn {
    position: absolute;
    top:1rem;
    right: 1rem;
  }
  .friends {
    background-color: #d18b8d;
    padding:.3rem;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    cursor:pointer;
    h4 {
      color:white;
    }
  }
}