body header {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: min(1rem, 1%);
  padding-block: 0.3rem;
}
body header .logo {
  max-width: min(100%, 7rem);
  aspect-ratio: 1/0.5;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

main {
  display: flex;
  gap: max(2%, 1rem);
  height: 80dvh;
  width: 100%;
  margin-top: 10px;
}
main #open-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  backdrop-filter: drop-shadow(0 0 10px black);
  display: none;
}
@media screen and (max-width: 800px) {
  main #open-close {
    display: block;
  }
}
main .chats-con {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: max(360px, 50%);
}
@media screen and (max-width: 800px) {
  main .chats-con {
    transition: left 200ms ease-in-out;
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    left: -100%;
    z-index: 1000;
  }
}
main .chats-con .chats-menu {
  background-color: #00264d;
  color: white;
  padding: 0.5rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .chats-con .recent-chats {
  padding: 0.5rem;
}
main .chats-con .recent-chats .chat {
  height: 3.5rem;
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  transition: background-color, color, 200ms ease-in-out;
}
main .chats-con .recent-chats .chat:hover {
  background-color: rgba(0, 38, 77, 0.8);
  color: white;
}
main .chats-con .recent-chats .chat .profile-image-con {
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #00264d;
}
main .chats-con .recent-chats .chat .profile-image-con img {
  object-fit: contain;
}
main .messages-con {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  main .messages-con {
    height: 90vh;
  }
}
main .messages-con .friend-profile-info-menu {
  background-color: #00264d;
  color: white;
  padding-inline: 0.5rem;
  height: 3rem;
  display: flex;
  padding-left: 1rem;
  justify-content: space-between;
}
main .messages-con .friend-profile-info-menu .profile-info {
  display: flex;
  align-items: center;
}
main .messages-con .friend-profile-info-menu .profile-info .profile-image-con {
  width: 50px;
  border-radius: 50%;
}
main .messages-con .friend-profile-info-menu .profile-info .profile-image-con img {
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
main .messages-con .friend-profile-info-menu .rtc-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main .messages-con .friend-profile-info-menu .rtc-menu button {
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
main .messages-con .messages {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  height: 85%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0.3rem 0.3rem 1rem;
}
main .messages-con .messages .message {
  max-width: 360px;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 0.8rem;
  word-wrap: break-word;
}
main .messages-con .messages .me {
  align-self: flex-end;
  background-color: #c36669;
}
main .messages-con .messages .friend-message {
  align-self: start;
  background-color: #00264d;
}
main .messages-con .message-input-con {
  max-width: 100%;
  margin-inline: 0.5rem;
  border-radius: 50px;
  background-color: white;
  height: 3rem;
  display: flex;
  padding: 0.3rem;
  padding-inline: 0.9rem;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}
main .messages-con .message-input-con #message-input {
  width: 100%;
  border: none;
  outline: none;
}
main .messages-con .message-input-con #send {
  width: 90px;
  background-color: #00264d;
  border-radius: 50px;
  color: white;
  outline: none;
  border: transparent;
  margin-block: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.new-convo-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 80vh;
  background-color: rgba(0, 38, 77, 0.8);
  top: 0;
  width: 340px;
  padding: 2rem;
}
.new-convo-modal .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.new-convo-modal .friends {
  background-color: #d18b8d;
  padding: 0.3rem;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}
.new-convo-modal .friends h4 {
  color: white;
}

/*# sourceMappingURL=chats.css.map */
