body {

  header {
    background-color: rgba(white, .8);
    margin-top: min(1rem, 1%);
    padding: .3rem .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: min(100%, 7rem);
      aspect-ratio: 1/.5;
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
    }

    h1 {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: black;
      backdrop-filter: drop-shadow(0px 0px 10px black);
      cursor: pointer;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89dvh;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }


    > div {
      max-width: 600px;
      width: 100%;
      min-width: 360px;
      background-color: rgba(white, .7);
      height: 100%;
      box-shadow: 0 0 10px black;
      border-radius: 10px;
      padding: 1rem;
    }

    .profile-con {

      padding: 1rem;

      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100px;
          aspect-ratio: 1/1;
          object-fit: cover;
          border: 1px solid rgba(black, .7);
          border-radius: 50%;
        }

        b {
          font-size: 1.1rem;
          font-style: italic;
          color: #00264d;
        }

      }

    }

    .friend-lists-request, .all-users {
      padding: 1rem;

      .users-con {
        .users {
          color: black;
          position: relative;
          padding: .2rem .6rem 0;
          //gap: 1rem;
          align-items: center;
          border-radius: 50px;
          //width: max-content;
          width: 100%;
          transition: background-color, color, 100ms ease-in-out;
          cursor: pointer;


          &:hover {
            background-color: rgba(#00264d, .8);
            color: white;
          }

          > div {
            position: relative;
            margin-inline: 1rem;
            //border:1px solid red;
            display: inline-block;
            transform: translateY(-20%);
            top: 50%;
            width: 65%;

            p {
              font-size: .8rem;
              font-style: italic;
            }

            h4 {
              font-style: normal;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 1rem;
            }
          }


          img {
            width: 40px;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #000;
            background-color: white;
            display: inline-block;
          }

          button {
            position: relative;
            float: right;
            border: none;
            outline: none;
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 50%;
            padding: .2rem .4rem;
            margin-inline: 2px;
            transform: translateY(10%);
            cursor: pointer;

            &.add-friend {
              color: green;
              border: 1px solid green;
              padding: .4rem .4rem;
              transition: background-color, color, 100ms ease-in-out;

              &:hover {
                color: #fff;
                border-color: #fff;
                background-color: green;
              }
            }

            &.accept {
              color: green;
              border: 1px solid green;


              &:hover {
                color: #fff;
                border-color: #fff;
                background-color: green;
              }
            }

            &.reject {
              color: red;
              border: 1px solid red;
              pointer-events: visiblePainted;

              &:hover {
                color: #fff;
                border-color: #fff;
                background-color: red;
              }
            }
          }
        }
      }
    }

  }
}