<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/base.css') }}">

    {% block head %}
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>