<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/base.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"
            integrity="sha512-jMNwWSmjje4fjYut9MBGKXw5FZA6D67NHAuC9szpjbbjg51KefquNfvn4DalCbGfkcv/jHsHnPo1o47+8u4biA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/732745dc9c.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>