{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/chats.css') }}">
    <script src="{{ url_for('chat.static', filename='scripts/chats.js') }}" defer></script>
{% endblock %}
{% block title %}
    <title>JustUs Chat</title>
{% endblock %}

{% block content %}
    <header><img class="logo" src="{{ url_for('static', filename='logos/justus-logo-bnb.png') }}" alt="Logo">
        <h1>Chats</h1></header>
    <main>
        <div class="chats-con">
            <div class="chats-menu">
                <div>Chat Menu</div>
                <button class="new-convo" id="new-convo"><i class="far fa-comment-alt fa-2x"></i></button>
            </div>
            <div class="recent-chats">
                {% if recent_chats %}
                    {% for chat in recent_chats %}
                        <a class="chat" href="/chats/{{ chat.user.id }}">
                            <div class="profile-image-con">
                                <img src="{{ url_for('static',filename='logos/justus-logo-tbc.png') }}"
                                     alt="profile-image">
                            </div>
                            <div>
                                <p class="chat-name">{{ chat.user.first_name}} {{ chat.user.middle_name }} {{ chat.user.last_name }}</p>
                                <p class="chat-last-message">{{ chat.data.message | truncate(30) }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="messages-con">
            <div class="friend-profile-info-menu">
                <div class="profile-info" {% if chat_user %} data-userId="{{ chat_user.id }}" {% endif %}>
                    {% if chat_user %}
                        <div class="profile-image-con">
                            <img src="{{ url_for('static',filename='logos/justus-logo-tbc.png') }}" alt="profile-image">
                        </div>
                        <p>{{ chat_user.first_name }} {{ chat_user.last_name }}</p>
                    {% else %}
                        <div class="profile-image-con">
                            <img src="{{ url_for('static',filename='logos/justus-logo-tbc.png') }}" alt="profile-image">
                        </div>
                        <p>User Name</p>
                    {% endif %}
                </div>
                <div class="rtc-menu">
                    <button><i class="fa fa-phone"></i></button>
                    <button><i class="fa fa-video"></i></button>
                </div>
            </div>
            <div class="messages">

            </div>
            <div class="message-input-con">
                <input type="text" id="message-input">
                <input type="button" value="send" id="send">
            </div>
        </div>
    </main>
    {% if chat_user %}
        <script>
            setTimeout(() => {
                setMessages("{{ chat_user.id }}");
            }, 100);
        </script>
    {% endif %}
{% endblock %}