{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename="css/auth.css") }}">
    <script src = "{{ url_for('user.static', filename="scripts/auth.js") }}" defer></script>
{% endblock %}
{% block title %}
    <title>JustUs Login</title>
{% endblock %}
{% block content %}
    <a class="logo-link" href="{{ url_for("home.landing_page") }}" style="text-decoration: none"><img class='logo' src="{{ url_for('user.static', filename='images/logos/justus-logo-tbc.png') }}"></a>

    <form method="post">
        <div class="user-icon-con">
            <i class="fa fa-user-circle fa-5x"></i>
        </div>
        <div class="input-item-con"><i class="fa fa-envelope"></i><input id="email" name="email" type="email"
                                                                         placeholder="Email Address"></div>
        <div class="input-item-con"><i class="fa fa-lock"></i><input id="password" name="password" type="password"
                                                                     placeholder="Password"> <i
                class='show-password fa fa-eye'></i></div>
        <div class="remember-forget">
            <label><input type="checkbox" name="remember-me" id="remember"> Remember Me</label>
            <a href="{{ url_for('auth.password_reset') }}">Forgot Password?</a>
        </div>
        {% if get_flashed_messages() %}
            <p class="error">
                {{ get_flashed_messages()[0] }}
            </p>
        {% endif %}
        <p class="signup_login">Don't have an account? <a
                href="{{ url_for('auth.signup_page') }}">Register</a></p>
        <input id="login" type="submit" value="Login">
    </form>
{% endblock %}